<template>
	<section>
		<div class="panelTitle elevation-1">
			<span>Embudo de ventas</span>
			<v-spacer></v-spacer>
			<v-btn  class="mx-2" outlined color="secondary">Perfilar cliente</v-btn>
			<v-btn class="mx-2"  color="secondary">Agregar prospecto</v-btn>
		</div>
		<!-- contenedor de los directorios -->
		<section class="containerScrolls">
			<!-- Directorio deprospectos -->
			<ScrollData>
				<template v-slot:title>
					<span class="panel_title">
						Directorio de prospectos
					</span>
				</template>
				<template v-slot:action>
					<CreateLead/>
				</template>
			</ScrollData>

			<ScrollData>
				<template v-slot:title>
					<span class="panel_title">
						Clientes perfilados
					</span>
				</template>
				
			</ScrollData>
			<ScrollData>
				<template v-slot:title>
					<span class="panel_title">
						Clientes cotizados
					</span>
				</template>
				
			</ScrollData>
		</section>

	</section>
</template>


<script>
	import ScrollData  from './clientPanel/ScrollData'
	import CreateLead from './clientPanel/_CreateLead'
	export default {
		components:{
			ScrollData,
			CreateLead
		}
	}
</script>

<style lang="sass" scoped>
	@use "sass:map"
	@import '../../../sass/_variables.scss'
	
	.panelTitle
		background-color: map-get($colors, base2 )
		padding: 1em
		display: flex
		align-items: center
		span
			font-size: 2em
			font-weight: 600
			color: #736531	
	.containerScrolls
		display: flex
		justify-content: space-between
		flex-wrap: wrap
</style>