<template>
	<section class="containerPanel">
		<div class="panel">
			<h2>hello Test panel</h2>
			<v-btn @click="this.fetchSetting" >Setting</v-btn>
		</div>
	</section>
</template>


<script>
import Axios from 'axios'
import { mapActions } from 'vuex';
export default {
	data() {
		return {
			resData: {}
		}
	},
	computed: {
		data(){
			return this.$store.state.count
		}
	},
	methods:{
		...mapActions({
			fetchSetting: 'fetchSetting'
		})

		// fetchSetting(){
		// 	Axios({
		// 		method:'get',
		// 		url: '/setting',

		// 	}).then(res => {
		// 		this.resData = res
		// 		console.log(res)
		// 	})
		// }
	}
}
</script>


<style lang="scss" scoped>
	
</style>