<template>
	<div>
		<section class="containerPanel">
			<section class="dashboard elevation-2">
				<div class="actions">
					
					<v-dialog v-model="NewUser" persistent max-width="600px" transition="dialog-bottom-transition">
						<template v-slot:activator="{ on }">
							<v-btn class="cta" depressed v-on="on" color="secondary">Agregar</v-btn>
						</template>
						<NewUser @close="closeNewUser" />
					</v-dialog>
					
					<v-select
						class="filterButton "
						append-icon="mdi-filter-outline"
						:items="filters"
						label="Filtrar"
						dense
						outlined
						color="secondary"
					></v-select>
					
				</div>
				<v-divider></v-divider>
				<UserList/>
			</section>

			<section  class="panel elevation-2">
				<div class="newUserForms">
					<v-btn @click="deleteTest" class="mr-4" text    color="secondary" 
								>Cancelar
					</v-btn>
				</div>
			</section>

		</section>
	</div>
</template>


<script>
import UserList from './usersCreater/UserList'
import NewUser from './usersCreater/NewUser'
import Axios from 'axios'
export default {
	name: 'UsersCreater',
	components: {
		UserList,
		NewUser
		},
	data() {
		return {
			id:3,
			filters: [
				{ text: 'list', callback: () => console.log('list') },
				{ text: 'favorite', callback: () => console.log('favorite') },
				{ text: 'delete', callback: () => this.delete },
			],
			NewUser: null,
			
		}
	},
	methods: {
		closeNewUser(){
			this.NewUser = false
		},
		deleteTest(){
			this.$swal('Hello Vue world!!!');
		}
		
	},

}
</script>


<style lang="scss"   >
	
	.containerPanel{
		width: 100%;
		height: 100%;
		display: flex;
		padding: .5em;
		.panel , .dashboard{
			border-radius: 7.5px;
		}
		.panel{
			padding: 15px;
			box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12)!important;
		}
		.dashboard{
			background: #fff;
			flex: 0 1 25%;
			padding :15px 7.5px;
			padding: 0 10px;
			margin-right: 5px;
			.actions{
				display: flex;
				justify-content: space-between;
				padding: 20px 0 10px;
				.cta{
					text-transform: none;
					height: 40px !important;
				}
				.filterButton {
					flex: 0 2 50%;
					.v-text-field__details{
						display: none;
					}
				}
			}
		}
		.panel{
			background: #fff;
			flex: 3 1 auto;
		}
	}
	#list-16{

		margin-top: 40px !important
	}
	.bold{
		font-weight: bold
	}
</style>
