@font-face {
    font-family:"gordita";
    font-weight: 600;
    font-style: normal;
    src: local("Gordita-medium"), url(../fonts/Gordita-medium.woff);
}
@font-face {
    font-family:"gordita";
    font-weight: 900;
    font-style: normal;
    src: local("Gordita-black"), url(../fonts/Gordita-black.woff);
}
@font-face {
    font-family:"gordita";
    font-weight: 300;
     font-style: normal;
    src: local("Gordita-light"), url(../fonts/Gordita-light.woff);
}
@font-face {
    font-family:"gordita";
    font-weight: 500;
    font-style: normal;
    src: local("Gordita-regular"), url(../fonts/Gordita-regular.woff);
}

* {
    font-family:"gordita";
}