<template>
	<v-dialog class="dialogForm"  v-model="dialog" persistent  max-width="600px">
		<template v-slot:activator="{ on, attrs }">
			<v-btn color="white" class="text--primary" fab small v-bind="attrs" v-on="on">
				<v-icon>mdi-plus</v-icon>
			</v-btn>
			<!-- Creation Form (nuevos leads) -->
		</template>
			<v-card>
				<v-card-title>
					<span class="headline">Cliente prospecto</span>
				</v-card-title>
				<v-card-text>
					<v-form
						v-model="valid"
						ref="createLead"
					>
					</v-form>
					<v-container>
						<v-row>
							<v-col cols="12" sm="6" >
								<v-text-field
									v-model="dataLead.first_name"
									outlined
									dense
									label="Nombre*"
									required
									:rules="[rules.required]"
								>
								</v-text-field>
							</v-col>
							<v-col cols="12" sm="6" >
								<v-text-field
								v-model="dataLead.last_name"
									dense
									label="Apellido"
									outlined
								>
								</v-text-field>
							</v-col>
							<v-col cols="12" sm="6" >
								<v-text-field
									v-model="dataLead.phone.movil"
									dense
									label="Telefono"
									required
									outlined
									:rules="[rules.allowSpaces]"
									>
								</v-text-field>
							</v-col>

							<v-col cols="12" sm="6" >
								<v-text-field 
									v-model="dataLead.email"
									outlined 
									dense 
									label="Email*" 
									required
									:rules="[rules.required, rules.email]"
								>
								</v-text-field>
							</v-col>

							<v-col cols="12">
								<v-select
									v-model="dataLead.source"
									dense
									:items="['0-17', '18-29', '30-54', '54+']" 
									label="Origen del contacto"
									required
									outlined									>
								</v-select>
							</v-col>
							
							<v-col cols="12" >
								<v-textarea
									v-model="dataLead.description"
									auto-grow
									dense
									outlined
									name="Descripcion"
									label="Descripcion"
									hint="Describe la necesidad del cliente"
								></v-textarea>
							</v-col>
						</v-row>
					</v-container>
					<small>*indicates required field</small>
				</v-card-text>

				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="secondary " text @click="dialog = false">
						Atras
					</v-btn>
					<v-btn color="secondary" ml-2 @click="dialog = false">
						Guardar
					</v-btn>
				</v-card-actions>
			</v-card>
	</v-dialog>

</template>

<script>
	import Rules from '../../../plugins/Rules'
	export default {
		data() {
			return {
				valid:false,
				dialog:false,
				dataLead:{
					first_name: '' ,
					last_name: '',
					phone:{
						landLine:'',
						movil:''
					},
					email: '',
					source: '',
					description: ''
				},
				rules: Rules
			}
		},		
	}
</script>

<style lang="sass">
	.v-dialog
		max-height: 95% !important
	
	.col-12 
		padding: .5em 1em

</style>