<template>
		<v-card class="CardData">
			<v-card-title class="white--text secondary darken-4">
				<!-- TITLE imported -->
				<slot name="title"></slot>
				<v-spacer></v-spacer>

				<!-- Action primary imported-->
				<slot name="action"></slot>
			</v-card-title>

			<!-- FILTER COMPONENT  (AQUI)-->
			<v-card-text class="pt-4">
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi nobis a at voluptates culpa optio amet!
			</v-card-text>
			<v-divider></v-divider>
			<!-- ITEMS LIST COMPONENT (sacar afuera) -->
			<v-list-item 
				v-for="(item, index) in 15" :key="index">
				<v-list-item-avatar>
					<v-avatar color="primary" size="56" class="white--text">
						js
					</v-avatar>
				</v-list-item-avatar>

				<v-list-item-content>
					<v-list-item-title>Nombre </v-list-item-title>
				</v-list-item-content>

				<v-list-item-action>
					<v-btn depressed small>
						View User

						<v-icon color="orange darken-4" right>
							mdi-open-in-new
						</v-icon>
					</v-btn>
				</v-list-item-action>
			</v-list-item>
		</v-card>
</template>

<script>
// import CreateLead from './_CreateLead'	
export default {
	name:'ScrollDataPanel',
	// components:{CreateLead}
}
</script>

<style lang="sass" scoped>
	.CardData
		height: 80vh
		background: white
		overflow-y: scroll
		overflow-x:hidden
		padding: 0 0 10px 0
		margin: 1em
		flex: 1 3 27vw
		max-width: 70vw
		min-width: 320px

	//SCROLl STYLES
	.CardData::-webkit-scrollbar
		-webkit-appearance: none
	.CardData::-webkit-scrollbar:vertical
		width:10px
	.CardData::-webkit-scrollbar-button:increment,.CardData::-webkit-scrollbar-button 
		display: none
	.CardData::-webkit-scrollbar:horizontal
		height: 10px
	.CardData::-webkit-scrollbar-thumb
		background-color: #797979
		border-radius: 20px
		border: 2px solid #f1f2f3
	.CardData::-webkit-scrollbar-track
		border-radius: 10px

</style>