@font-face {
  font-family: "gordita";
  font-weight: 600;
  font-style: normal;
  src: local("Gordita-medium"), url(/fonts/Gordita-medium.woff?8a8d94afa884be87fba8ed807a911132);
}

@font-face {
  font-family: "gordita";
  font-weight: 900;
  font-style: normal;
  src: local("Gordita-black"), url(/fonts/Gordita-black.woff?336cd0f368d138ba994fc13123f55ecf);
}

@font-face {
  font-family: "gordita";
  font-weight: 300;
  font-style: normal;
  src: local("Gordita-light"), url(/fonts/Gordita-light.woff?404d4cbaf5363d50b580c7032c4365cc);
}

@font-face {
  font-family: "gordita";
  font-weight: 500;
  font-style: normal;
  src: local("Gordita-regular"), url(/fonts/Gordita-regular.woff?1af86f05f46db70e0dc24e719472409a);
}

* {
  font-family: "gordita";
}

