<template>
	
			
		<v-card  class="elevation-3" :loading="loading" :disabled="loading" >
			<v-overlay :value="overlay" color="primary">
				<v-progress-circular indeterminate size="64"></v-progress-circular>
			</v-overlay>
			<v-card-title class="card__title bar_auth">
				<!-- <v-btn icon dark @click="close" color="dark">
					<v-icon>mdi-close</v-icon>
				</v-btn> -->
				<div class=" bar_title">
					<span class="title">Nuevo usuario</span>
				</div>
			</v-card-title>
			
			<v-card-text >
				<v-form ref="form" lazy-validation v-model="valid">
					<div class="container_forms" >
					<!-- personal form -->
						<v-row class="personal" align="center" justify="space-around">
							<!-- //names -->
							<v-col class="colForm" md="6" cols="12">
								<v-text-field
									label="Nombre de usuario"
									name="Name"
									v-model="newUser.name"
									:rules="nameRules"
									type="text"
									counter
								/>
								
							</v-col>

							<v-col class="colForm" md="6" cols="12">
								<v-text-field
									label="Correo"
									name="correo"
									:rules="emailRules"
									v-model="newUser.contact.email"
									type="email"
								/>
							</v-col>
							
						

							<v-col class="colForm" md="6" cols="12">
								<v-text-field  
									label="Contraseña" 
									name="Password" 
									v-model="newUser.password"
									:rules="passRules"
									type="password"
								/>
							</v-col>
							 
							<v-col class="colForm " md="6" cols="12">
								<v-text-field
									label="telefono"
									name="Name"
									v-model="newUser.contact.phone"
									type="text"
								/>
							</v-col>

								<!-- correo y telefono -->
							<v-col class="colForm my-3" md="12" cols="12">
									<v-select
										v-model="newUser.rol"
										item-text="code"
										item-value="id"
										:items="levels"
										:rules="[v => !!v || 'El Rol es requerido']"
										menu-props="auto"
										label="Selecciona un rol"
										hide-details
										single-line
										:return-object="false"
										>
									</v-select>
							</v-col>
							<v-col class="colForm" md="12" cols="12">
								<div class="levelInfo">
									<span class="mx-2">
										{{levelSelected}}
									</span>
								</div>
							</v-col>

							
						</v-row>
						<v-card-actions class="action mt-3">
							<v-btn @click="close" class="mr-4" text    color="secondary" 
								>Cancelar
							</v-btn>
							<v-btn color="secondary"
								@click.stop="createUser"
								>Guardar
							</v-btn>
							
						</v-card-actions>
					</div>
				</v-form>

			</v-card-text>
		</v-card>
				
		
	

</template>


<script>
import Axios from 'axios'
import {mapGetters} from 'vuex'
import Swal from 'sweetalert2/dist/sweetalert2.js'
export default {
	name: 'NewUser' ,

	data() {
		return {
			levels: [],
			overlay: false ,
			loading:true,
			valid:false,
			newUser:{
				name:'',
				password:'',
				confirm:'',
				contact:{
					email:'',
					phone: ''
				},
				rol:''
			},
			nameRules: [
				v => !!v || 'El nombre es requerido',
				v => (v && v.length <=20) || 'No debe haber mas de 20 caracteres',
			],
			emailRules: [
				v => !!v || 'E-mail requerido',
				v => /.+@.+\..+/.test(v) || 'E-mail debe ser valido',
			],
			passRules: [
				v => !!v || 'La contraseña es requerida',
			],
			
		}
	},
	computed: {
		...mapGetters(['getUserLevels']),

		levelSelected(){
			let levels = this.levels.find(el => el.id == this.newUser.rol)
			if (levels) {
			return levels.description
			}else{
				return 'Selecciona un Rol de usuario '
			}
		}
	},
	methods: {
		close(){
			this.$emit("close")
		},

		getLevels(){
			this.levels = this.getUserLevels;
			this.loading = false;
			console.log(this.getUserLevels)
		},

		createUser(){
			if (this.$refs.form.validate()){
				this.overlay = true;
				Axios.post('/users', {
				username: this.newUser.name,
				password: this.newUser.password,
				email: this.newUser.contact.email,
				telefono: this.newUser.contact.phone,
				rol: this.newUser.rol,
				})
				.then(response => {
					console.log(response);
					this.overlay = false;
					this.$emit("close");
					this.$refs.form.reset()
					Swal.fire({
						text:'Usuario creado',
						icon:'success'
					})
					}).catch(e => {
						console.log(e);
				});
			}else{
				console.log('alert invalid!')
			} },
		
	},
	created() {
		this.getLevels()
	},
	alertNewUser(){
			Swal.fire({
				text:'Usuario creado',
				icon:'success'
			})
	}
}
</script>
<style lang="scss" scoped>
@use "sass:map";
@import '../../../../sass/variables';
	.levelInfo{

		display: flex;
		padding: 4px;
		border-left: map.get($colors, "secondary") 3px solid;
	}

	.contenedor{
		background-color: white;
		.title{
			font-weight: 700;
			font-size: 1.6em;
			}
	}
	.container_forms{
		// background-color grey
		display: flex;
		flex-direction: column;
		.personal {
			margin: 25px 0;
			.colForm{
				padding: 2px 10px
			}
		}
		.action{
			align-self: flex-end;
			padding: 8px 0 !important	;
			button{
				margin: 5px 7.5px;
			}
		}
		
	}
	.aux{
		font-weight: 700 !important;
		display: flex;
		justify-content: flex-start ;
		margin: 10px 0;
	}
	.bar_auth{
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		.bar_title{
			font-size: 2em;
			color: #0c0a1a;
			font-weight: 500
		}
	}


	.v-card > .v-card__progress + :not(.v-btn):not(.v-chip), .v-card > :first-child:not(.v-btn):not(.v-chip){
		border-top-left-radius: initial !important;
		border-top-right-radius: initial !important;}

</style>