<template>
	<div>
		<div class="listCont">
			<v-list>
				<div v-for="user in usersData.data" :key="user.id">
						<v-skeleton-loader
							:loading="loading"
							height="94"
							type="list-item-two-line"
							transition="scale-transition"
						>
							<v-list-item
							>
								<v-overlay :value="isloadingSpiner">
									<v-progress-circular indeterminate size="64"></v-progress-circular>
								</v-overlay>

								<v-list-item-content>
									<v-list-item-title v-text="user.username"></v-list-item-title>
									<!-- <v-list-item-subtitle v-text="user.rol.code" ></v-list-item-subtitle> -->
								</v-list-item-content>
								
								<v-menu
									transition="scale-transition"
									offset-y 
								>
									<template v-slot:activator="{ on, attrs }">
										<v-btn
											dark
											icon
											v-bind="attrs"
											v-on="on"
										>
											<v-icon color="dark">mdi-dots-vertical</v-icon>
										</v-btn>
									</template>

									<v-list outlined>
										<v-list-item
										v-for="(item, index) in items"
										:key="index"
										@click="item.callback(user.id)" class="item-menu"
										>
									
											<v-list-item-title>{{ item.title }}</v-list-item-title>
											<v-list-item-icon>
												<v-icon v-text="item.icon"></v-icon>
											</v-list-item-icon>
										</v-list-item>
									</v-list>
								</v-menu>

								<!-- <v-list-item-icon>
									<v-icon   color="pink">mdi-star</v-icon>
								</v-list-item-icon> -->

							</v-list-item>
						</v-skeleton-loader>
						
					<v-divider></v-divider>
				</div>
			</v-list>
		</div>
	</div>
</template>


<script>
	import Axios from 'axios'
	import Swal from 'sweetalert2/dist/sweetalert2.js'

	import 'sweetalert2/src/sweetalert2.scss'
	export default {
		name:'UserList',
		data() {
			return {
				usersData:{},
				transition: 'scale-transition',
				loading: true,
				isloadingSpiner: false,
				items:[
					{
						title: 'Informacion' ,
						callback: () => console.log('list'),
						icon: 'mdi-open-in-new'
					},
					{
						title: 'Eliminar' ,
						// callback: (id) => this.deleteUser(id),
						callback: (id) => this.deleteAlert(id),
						icon: 'mdi-trash-can'
					},
					// {
					// 	title: 'Eliminar' ,
					// 	callback: () => console.log('list'),
					// 	icon: 'mdi-dots-vertical'
					// },
					 
					 
				]
			}
		},
		methods:{
			deleteAlert(id){
				Swal.fire({
					title: '¿Estas seguro?',
					icon: 'warning',
					showCancelButton: true,
					cancelButtonColor: '#d33',
					confirmButtonColor: '#507AD9',
					confirmButtonText: 'Si, eliminarlo',
					cancelButtonText:'Cancelar'
					}).then((result) => {
					if (result.value) {
						console.log('Respuesta definitiva!!'),
						this.deleteUser(id)
						Swal.fire({
							text:'El usuario ha sido eliminado.',
							icon:'success'
						}
						)
					}
				})
			},
			deleteUser(id){
				console.log('deleting...')
				this.isloadingSpiner = true
				Axios.delete('/users', {params: {id: id  }})
				.then(response => {
					console.log(response)
					this.isloadingSpiner = false
					this.getUsers()
				}).catch(e => {
					console.log(e)
					this.isloadingSpiner = false
				})
			},
			getUsers(){
				Axios.get('/users')
					.then(response => {
						this.usersData = response.data
						console.log(response)
						setTimeout(() => {
							this.loading = false
							
						}, 1000);
					}).catch(e => {
						this.loading = false
						console.log(e)
					})
			}
		},
		created() {
			this.getUsers()
		}

	}
</script>


<style lang="scss">
	
	
	.v-list-item__title {
		font-size: 1em;
	}

	
	.v-list-item__title {
		font-size: 1.1em;
		line-height: 1.4;
		font-weight: 500;
		line-height: 1.4 !important;
	}

</style>