<template>
    <v-app id="vuetify-component">
        <v-alert
            :dismissible="true"
            transition="scale-transition"
            v-if="alertType != 'none'"
            :type="alertType"
        >
            {{ alertMsg }}
        </v-alert>
        <template>
            <section class="login">
                <figure class="ilustration">
                    <img class="man" src="../../assets/ingeniero.svg" alt="" />
                    <img
                        class="woman"
                        src="../../assets/ingeniero2.svg"
                        alt=""
                    />
                </figure>
                <div class="formContainer">
                    <div class="brand">
                        <img src="../../assets/logo-crt.svg" contain />
                    </div>
                    <v-card :width="cardWidth" class="formCard mx-auto">
                        <v-form class=" pa-0" method="POST" action="/login">
                            <slot>
                                <!-- el token CSRF se inyectara en este slot -->
                            </slot>
                            <img
                                src="../../assets/boxes.svg"
                                height="auto"
                                class=""
                            />
                            <v-container>
                                <v-row>
                                    <v-col cols="12">
                                        <v-text-field
                                            id="username"
                                            name="username"
                                            label="Nombre de usuario"
                                            required
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="12">
                                        <v-text-field
                                            id="password"
                                            name="password"
                                            label="Contraseña"
                                            type="password"
                                            required
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col class="action" cols="12">
                                        <v-btn color="dark" small="" text
                                            >¿has olvidado tu contraseña?
                                        </v-btn>
                                        <v-btn color="secondary" type="submit"
                                            >Ingresar
                                        </v-btn>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-form>
                    </v-card>
                </div>
            </section>
            <Foot/>
        </template>
    </v-app>
</template>

<script>
import Foot from './parts/FooterBar'
export default {
    props: ["alertType", "alertMsg"],
    components:{
        Foot
    },
    data() {
        return {
            message: "Inicia session",
            onLoad : false
        };
    },
    methods:{
        onLoading(){
            
        }
    },
    mounted() {
        console.log(this.alertType, this.alertMsg);
        console.log(this.$vuetify.breakpoint);
    },
    computed: {
        cardWidth() {
            return this.$vuetify.breakpoint.mobile ? "70vw" : "320px";
            // switch (this.$vuetify.breakpoint.name) {
            //   case 'xs': return '220px'
            //   case 'sm': return '400px'
            //   case 'md': return '500px'
            //   case 'lg': return '600px'
            //   case 'xl': return '800px'
            // }
        },
       
    }
};
</script>

<style lang="scss" scoped>
@use "sass:map";
@import '../../sass/variables';





#vuetify-component {
    ::v-deep .v-application--wrap {
        align-items: center;
        justify-content: center;
    }
    ::v-deep .v-alert.v-sheet {
        width: 25%;
        position: absolute;
        top: 5%;
        left: 2%;
    }
}
.login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 2em;
    flex-direction: column;
    .formCard {
        background-color: map.get($colors, "base");
        border-radius: 25px !important;
        overflow: hidden;
        margin: 25px 0;
        box-shadow: 1px 5px 10px 2px #00000038 !important;
        //HEY
        .col-12 {
            padding: 5 !important;
        }
    }
    .container {
        padding-top: 0 !important;
        padding: 10px 20px;
        margin-top: -30px;
    }
    .formContainer {
        flex: 0 0 40%;
        /* img{
                margin-top: -50px;
            } */
    }
    .brand {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 170px !important;
            margin-top: -20px;
        }
    }
    .action {
        display: flex;
        justify-content: center;
        flex-direction: column;
        button {
            margin: 7.5px;
        }
    }
}
.ilustration {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 30%;
    width: 100%;
    img {
        flex: 0 0 30%;
    }
    .man {
        margin-left: -35px;
    }
    .woman {
        flex: 0 0 35%;
    }
}
</style>
