<template>
	<v-app  class="app__container cont">
		
			<!-- Lateral MENU   -->
			<NavDrawer/>
			
			<!-- PANEL CENTRAL -->
			<v-main class=" containerPanel">
				<!-- Panel Router -->
				<router-view class="panelRuter"></router-view>
			</v-main>
	</v-app>
</template>

<script>
import NavDrawer from './parts/NavDrawer'
import {mapActions} from 'vuex'
export default {
	components:{
		NavDrawer
	},
	methods: {
		...mapActions(['fetchSetting'])
	},
	created() {
		this.fetchSetting()
	},
	
};
</script>

<style lang="sass" scoped>
	@use "sass:map"
	@import "../../sass/_variables.scss"
	.cont
		display: flex
		flex-direction: row !important
		// min-height: 100vh
		.panelRuter
			
			width: 100%
		
	
	.v-navigation-drawer__content
		
	
	.containerPanel
		width: 100%
		height: 100%
		display: flex
		padding: .5em
		background: map-get($colors,base0 )
	
	.nav *
		color: #736531
		font-weight: 800
	
	// .panelRuter
	// 	display: flex
	// 	justify-content: space-between
	
</style>
