<template>
    
        <footer class="foot">
            <div>© TodoEstuche C.A Todos los derechos reservados</div>
        </footer>
    
</template>

<script>
export default {
    
}
</script>
<style lang="scss" scoped>
    @use "sass:map";
    @import '../../../sass/variables';
    .foot{
            width: 100%;
            display:flex;
            background-color: map-get($map: $colors , $key: "dark" );
            color: map-get($map: $colors , $key: "base" );
            justify-content: center;
            padding: 15px 5px;
        }
</style>