<template>
        <v-navigation-drawer
                app
                v-model="drawer"
                :mini-variant.sync="mini"
                permanent
                color="#fff"
                class="nav elevation-2"
                
            >

                <v-list-item class="px-2">
                    <v-list-item-avatar>
                    <v-img src="https://randomuser.me/api/portraits/men/85.jpg"></v-img>
                    </v-list-item-avatar>
                    <v-list-item-title>John Leider</v-list-item-title>
                    <v-btn
                        icon
                        @click.stop="mini = !mini"
                    >
                        <v-icon>mdi-chevron-left</v-icon>
                    </v-btn>
                </v-list-item>

                <v-divider></v-divider>

                <v-list dense>
                    <v-list-item
                        v-for="item in items"
                        :key="item.title"
                        link
                        @click="item.function"
                    >
                    <v-list-item-icon>
                        <v-icon color="darkSecondary">{{ item.icon }}</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                    </v-list-item-content>
                    </v-list-item>
                </v-list>
            </v-navigation-drawer>
</template>

<script>
export default {
    data() {
        return {
            drawer: null,
            items: [
                {
                    title: "Home",
                    icon: "mdi-view-dashboard",
                    function: () => {
                        this.$router.push({
                            name: 'Home'
                        });
                    }
                },
            
                {
                    title: "Usuarios",
                    icon: "mdi-account-multiple",
                    function: () => {
                        this.$router.push({
                            name: 'UsersCreater'
                        });

                    }
                },
                {
                    title: "Item 2",
                    icon: "mdi-chart-line-variant",
                    function: () =>{
                        this.$router.push({
                            name: 'ClientPanel'
                        });

                    }
                },
                {
                    title: "salir", 
                    icon: "mdi-exit-run", 
                    function: this.logout
                }
            ],
            mini: true,
        };
    },
    methods: {
        logout() {
            const axios = require("axios").default;

            axios
                .delete("/logout", {
                    validateStatus: function(status) {
                        return status >= 200 && status <= 500; // default
                    }
                })
                .then(() => (location.href = "/login"));
        }
    }
}
</script>

<style lang="sass" scoped>
   

</style>